{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/services_display.css' %}">
{% endblock %}
{% block content %}
    {% include 'partials/service_subHeader.html' %}
    <div class="main-div">
        <h2>All Services</h2>
        <div id="sort-container">
            <label for="sort-select">Sort by: </label>
            <select id="sort-select">
                <option value="newest">Newest First</option>
                <option value="oldest">Oldest First</option>
                <option value="name">Name</option>
                <option value="category">Category</option>
            </select>
        </div>
    
        <div id="services-container">
            {% for service in services %}
            <div class="service-card">
                <h3 class="h3-text">{{ service.name }}</h3>
                <p class="category"><strong>Category:</strong> {{ service.get_field_display }}</p>
                <p><strong>Price per hour:</strong> ${{ service.price_hour }}</p>
                <div class="star-rating">
                    <span class="star{% if service.rating >= 1 %} filled{% endif %}">★</span>
                    <span class="star{% if service.rating >= 2 %} filled{% endif %}">★</span>
                    <span class="star{% if service.rating >= 3 %} filled{% endif %}">★</span>
                    <span class="star{% if service.rating >= 4 %} filled{% endif %}">★</span>
                    <span class="star{% if service.rating >= 5 %} filled{% endif %}">★</span>
                </div>
                <p><strong>Posted on:</strong> {{ service.date|date:"F j, Y" }}</p>

                <!-- Check if the current user is a company -->
                {% if request.user.is_company %}
                    <p><strong>Posted by:</strong> {{ service.company.username }}</p>  <!-- Display as text -->
                {% else %}
                <a href="{% url 'company_profile' name=service.company.username %}">Posted by: {{ service.company.username }}</a>  <!-- Display as link -->
                {% endif %}
            </div>
            {% empty %}
            <p>No services available.</p>
            {% endfor %}
        </div>
    </div>
    {% block extra_js %}
    <script src="{% static 'js/services.js' %}"></script>
    {% endblock %}
{% endblock %}
