
{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/services_display.css' %}">
{% endblock %}
{% block content %}
    {% include 'partials/service_subHeader.html' %}
    <div class="main-div">
        <h2>All Services</h2>
        <div id="sort-container">
            <label for="sort-select">Sort by: </label>
            <select id="sort-select">
                <option value="newest">Newest First</option>
                <option value="oldest">Oldest First</option>
                <option value="name">Name</option>
                <option value="category">Category</option>
            </select>
        </div>
    
        <div id="services-container">
            {% for service in services %}
            <div class="service-card">
                <h3 class="h3-text">{{ service.name }}</h3>
                <p class="category"><strong>Category:</strong> {{ service.get_field_display }}</p>
                <p><strong>Price per hour:</strong> ${{ service.price_hour }}</p>
                <p><strong>Rating:</strong> {{ service.rating }} / 5</p>
                <p><strong>Posted on:</strong> {{ service.date|date:"F j, Y" }}</p>
                <p><a href="#">Posted by:</strong> {{ service.company.username }}</a></p>
            </div>
            {% empty %}
            <p>No services available.</p>
            {% endfor %}
        </div>
    </div>
    {% block extra_js %}
    <script src="{% static 'js/services.js' %}"></script>
    {% endblock %}
{% endblock %}

