{% extends 'main/base.html' %}

{% block title %}
    Company Profile
{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">

{% endblock %}
{% block content %}
<div class="company-profile-container">
    <header class="profile-header">
        <img src="{% static 'images/company.jpg' %}" alt="Company logo" class="profile-photo" id="companyLogo">
        <h1 id="companyName">{{ user.username }}</h1>
        <p id="companyIndustry">{{ user.company.field_of_work }} Company</p>
    </header>

    <section class="profile-details">
        <div class="profile-info">
            <h2>Contact Information</h2>
            <p id="companyEmail"><i class="fas fa-envelope"></i> {{ user.email }}</p>
        </div>
        <div class="profile-description">
            <h2>About Us</h2>
            <p id="companyDescription">{{ user.company.description }}</p>
        </div>
    </section>

    <section class="services-section">
        <h2>Our Services</h2>
        <div class="form-group">
            <ul id="companyServices">
                {% for service in user.company.service_set.all %}
                    <li>{{ service.name }} - {{ service.field }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    

    <section class="customer-reviews">
        <h2>Customer Reviews</h2>
        <div id="customerReviews">
            <!-- Reviews will be dynamically added here -->
        </div>
    </section>

    <section class="profile-actions">
        <a  href="{% url 'services:services_create' %}"  id="addReview" class="button1"><i class="fas fa-plus"></i> Add New Service</a>
        <button id="editCompanyInfo" class="button1"><i class="fas fa-edit"></i> Edit Company Info</button>
        <button id="manageServices" class="button1"><i class="fas fa-cogs"></i> Manage Services</button>
        <a href="{% url 'main:logout' %}" class="button1"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </section>
</div>
{% block extra_js %}
<script src="{% static 'js/company-profile.js' %}"></script>
{% endblock %}
{% endblock %}