{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Netfix Services{% endblock %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
    <link rel="icon" type="image/png" href="{% static 'netfix_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body class="min-h-screen">
    {% include 'partials/header.html' %}
    <div id="app" class="min-h-screen bg-overlay">
        {% block content %}{% endblock %}
    </div>
    {% include 'partials/home_footer.html' %}
    {% if user.is_authenticated and request.user.is_customer %}
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endif %}
    {% block extra_js %}
    {% endblock %}
</body>
</html>
